*.iml
*stdout_stderr*
.ant-targets-build.xml
.classpath
/.idea
/bin
/data
/lib/ws_client.jar
/logs
/target
/tmp
heap.bin*
java.hprof*
src/main/webapp/properties/keyableentrysequence.properties
junit2*
junittestcases*
junitvmwatcher*
.settings
/.project
/.springBeans